<div class="main">
  <mat-card class="card">
  <form [formGroup]="simulationForm" (ngSubmit)="submitForm()" class="simulation-form">
    <mat-card-title>Dividend Simulation</mat-card-title>

    <mat-form-field>
      <mat-label>Ticker</mat-label>
      <input type="text" matInput formControlName="ticker">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of shares</mat-label>
      <input type="number" matInput formControlName="shares">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
<app-line-chart [monthArray]="monthArray" [valueArray]="valueArray"></app-line-chart>
    <h3 class="title">Stocks Already Owned</h3>

  <div class="card-container">
  <mat-card *ngFor="let stock of ownedStocks" class="ticker-card">
    <mat-label>Ticker</mat-label>
    <input type="text" matInput [value]="stock.ticker">
    <input type="number" matInput #shareCount [value]="stock.shares_owned">
    <button mat-raised-button (click)="submitStock(stock.ticker, shareCount)">Submit</button>
  </mat-card>
</div>

</div>





