.main{
  display: flex;
  flex-direction: column;
}

.simulation-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simulation-form > * {
  width: 250px;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container > * {
  margin: 10px;
}

.ticker-card{
  width: 100px;

}

.ticker-card > * {
  margin: 5px;
}
.title{
margin-left: auto;
  margin-right: auto;
}
