

.spinner{
  width: 100%;
}

.stockForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  width: 25%;
  margin-right: auto;
  margin-left: auto;

}

.submit-button{
  width: 25%;
  display: flex;
  justify-content: center;
}
