<mat-horizontal-stepper linear="true">
  <mat-step [stepControl]="stockForm" label="Enter Stock">
    <div class="card-container">
      <mat-card class="card">
        <mat-card-title>Enter Stock Ticker</mat-card-title>
        <form [formGroup]="stockForm" class="stockForm">
        <div formArrayName="tickers">
          <div *ngFor="let item of tickers.controls; let tickerIndex = index" [formGroupName]="tickerIndex" class="row">
            <mat-form-field>
              <mat-label>Stock Ticker</mat-label>
              <input type="text" matInput formControlName="ticker" />
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="deleteInput(tickerIndex)" class="delete-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button (click)="addInput()">Add Ticker</button>
          <button mat-raised-button color="primary" (click)="submit()" class="submit-button">Submit</button>
        </div>
      </form>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Results" [completed]="isSubmitted">
    <div *ngIf="isSubmitted">
      <app-results *ngFor="let ticker of tickers.value" [ticker]="ticker"></app-results>
    </div>
  </mat-step>
</mat-horizontal-stepper>
