.card{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

mat-card-title{
  text-align: center;
}

.stockForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-button{
  margin: 10px;
}

.buttons > * {
  margin: 10px;
}

@media only screen and (max-width: 600px){
  .card{
    width: 75%;
  }
}
