<div class="main">
  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="stockForm" label="Enter Stock">
        <mat-card class="card">
    <mat-card-title>
      Enter Stock Ticker
    </mat-card-title>
                <form [formGroup]="stockForm" class="stockForm">
      <mat-form-field>
      <input type="text" matInput formControlName="ticker">
    </mat-form-field>
            <button mat-raised-button color="primary" (click)="submit()" class="submit-button">
              <span *ngIf="!loading">Submit</span>
              <mat-spinner *ngIf="loading" class="spinner" color="accent" [diameter]="30"></mat-spinner>
            </button>
    </form>

  </mat-card>
    </mat-step>
    <mat-step label="Results" [completed]="isSubmitted">
            <app-results *ngIf="isSubmitted" [stockData]="stockData"></app-results>
    </mat-step>
  </mat-horizontal-stepper>


</div>
