.main{

  margin-top: 50px;
}

.spinner{
  width: 100%;
}

.stockForm{
  display: flex;
  flex-direction: column;
}

.card{
  width: 500px;

}

.submit-button{
  width: 25%;
  display: flex;
  justify-content: center;
}
