    <kendo-chart>
      <kendo-chart-title text="Dividends"></kendo-chart-title>
      <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Q1', 'Q2', 'Q3', 'Q4']">
          </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item type="bar" [data]="[100]"></kendo-chart-series-item>
        <kendo-chart-series-item type="bar" [data]="[120]"></kendo-chart-series-item>
        <kendo-chart-series-item type="bar" [data]="[45]"></kendo-chart-series-item>
        <kendo-chart-series-item type="bar" [data]="[87]"></kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
