<div [innerHTML]="calendarHTML" class="calendar-input">
</div>

<kendo-datepicker
    (valueChange)="onChange($event)"
    [value]="value"
></kendo-datepicker>

<div *ngIf="showRows" >
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <div class="container">
      <mat-card *ngFor="let stock of stockList">
        <mat-card-title>{{stock.stock_name}}</mat-card-title>
        <mat-card-subtitle>Ticker: {{stock.ticker}}</mat-card-subtitle>
        <mat-card-content>Next Dividend: {{stock.next_div_amount}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
