/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.month{
  margin: 25px;
  border: 1px solid #ddd;

}

.month td{
    border: 1px solid #ddd;
    text-align: center;
}

.bg-orange{
  background-color: orange;
}



