<mat-card>
  <form [formGroup]="stockSaveForm" class="stock-save-form">
    <mat-form-field>
    <input matInput placeholder="Expected Dividends" [(ngModel)]="profitWanted" formControlName="profitWanted">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Stock Ticker</mat-label>
    <input type="text" matInput formControlName="ticker">
  </mat-form-field>
  <mat-error *ngIf="error">{{error}}</mat-error>
  <button mat-raised-button (click)="saveStock()">Save Stock</button>
</form>
</mat-card>


<kendo-grid
  [data]="gridView"
  [sort]="sort"
  [sortable]="{
  allowUnsort: true,
  mode: multiple ? 'multiple' : 'single'
  }"
  (sortChange)="sortChange($event)"
  *ngIf="!loading"
>
<ng-template kendoGridToolbarTemplate>
<button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
</ng-template>
  <kendo-grid-column field="stock_name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="price" title="Price"></kendo-grid-column>
  <kendo-grid-column field="investment_needed" title="Investment Needed">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      {{ dataItem.price * (profitWanted / dataItem.dividend) | number}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="shares_needed" title="Shares Needed">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
    {{profitWanted / dataItem.dividend | number}}
  </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="ticker" title="Ticker"></kendo-grid-column>
  <kendo-grid-column field="last_updated" title="Last Updated">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      {{dataItem.last_updated | date : 'short'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-excel fileName="Dividends.xlsx"></kendo-grid-excel>
<ng-template kendoGridDetailTemplate let-dataItem>
  <section>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Dividend</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of (dataItem.ticker | getDividendTable) | async">
        <td>{{item.Date}}</td>
        <td>{{item.Dividends}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</ng-template>
</kendo-grid>
<mat-spinner *ngIf="loading" class="spinner"></mat-spinner>






